            </main>
             <!--<div class="copyright">Copyright {global.yearCreated} {global.companyName} | All Rights Reserved</div>-->
            <footer>
                <div id="company-contribution">
                    <div id="Tehnologies">
                        <div>
                            <span>Tehnologies</span>
                            <ul>
                                <li>Web Development</li>
                                <li>Mobile App Development</li>
                                <li>System administration</li>
                            </ul>
                        </div>
                        <div id="social-container">
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-linkedin-in"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-reddit"></i>
                        </div>
                    </div>
    
                    <div id="Solutions">
                        <span>Solutions</span>
                        <ul>
                            <li>Healtcare</li>
                            <li>Finance</li>
                            <li>Buisness</li>
                            <li>Social</li>
                            <li>Sports</li>
                        </ul>
                    </div>
    
                    <div id="Quick-links">
                        <span>Quick Links</span>
                        <ul>
                            <li>Review</li>
                            <li>Tearms & Conditions</li>
                            <li>Disclaimer</li>
                            <li>Site Map</li>
                        </ul>
                    </div>
    
                    <div id="connection">
                        <span>Stay Connected</span>
                        <form>
                            <input type="email" placeholder="Enter an email address" >
                            <button type="submit">Subscribe</button>
                        </form>
                        <p>Office Location</p>
                        
                        <div id="address-container1">
                            <i id="icon1" class="fas fa-map-marker-alt"></i>
                            <label for="icon1">Dunavski kej 25, Belgrade</label>
                        </div>
                        <div id="address-container2">
                            <i id="icon2" class="fas fa-building"></i>
                            <label for="icon2">Tosin Bunar 72/a</label>
                        </div>
                    </div>
    
                </div>
                
                <div id="health-bar"></div>

                <div id="rights">@All rights reserved {global.companyName} {global.yearCreated}-</div>   
            </footer>
        </div>
    </body>
</html>