<div id="accDel-container">
        
    <div id="info-container">
        <h2>Account deleted</h2>
        <p>Your account has been deleted...</p>
    </div>
    
    <div id="message-container">
        
        <div id="home-container">
            <h2>Hello there</h2>
            <p>We are sorry to see that you have deleted your account, to see more exiting stuff on our website click the button below...</p>
            <!--<i class="fas fa-door-open"></i>-->
            <div>
                <button><i class="fas fa-arrow-left"><a href="#"></a></i></button>
                <p>Go to the Home page</p>
            </div>
            
        </div>
        
        <div id="sing_up-container">
            <h2>Welcome back</h2>
            <p>Create an account if you dont have one:</p>
            <form>
                <input type="text" placeholder="firstname">
                <input type="text" placeholder="lastname">
                <input type="text" placeholder="phone"> 
                <input type="text" placeholder="password">
            </form>
            <button>Create Account</button>
        </div>
    </div>
</div>