<div id="checks__list-container">
    <table>
        <thead>
            <tr>
            <th>Id</th>
            <th>userPhone</th>
            <th>protocol</th>
            <th>url</th>
            <th>method</th>
            <th>successCodes</th>
            <th>timeoutSecond</th>
            </tr>   
        </thead>

        <tbody>
            <tr>
            <td>id-vrednost</td>
            <td>userPhone-vrednost</td>
            <td>protocol-vrednost</td>
            <td>url-vrednost</td>
            <td>method-vrednost</td>
            <td>successCodes-vrednost</td>
            <td>timeoutSecond-vrednost</td>
            </tr>    
        </tbody>
    </table>
</div>