<div class="strelice">
    <i class="fas fa-less-than"></i>
</div>

<div class="user-box" id="user1">
    <h2>Nicole</h2>
    <div><img src="../public/userPicture.png" alt="user" class="user-picture" /></div>
    <p>I was lucky to find this site and educate myself in many branches that tehnology has to offer.</p>
</div>

<div class="user-box" id="user2">
    <h2>Brandon</h2>
    <div><img src="../public/userPicture.png" alt="user" class="user-picture" /></div>
    <p>My brother told me to visit this site, at first it was hard for me to catch up, but after couple of weeks i was really
        comfortable using it's full capacity.
    </p>
</div>

<div class="user-box" id="user3">
    <h2>Mark</h2>
    <div><img src="../public/userPicture.png" alt="user" class="user-picture" /></div>
    <p>This site is amazing it teached me a lot of things, can't wait to see what comes next.
        P.S Don't forget to be amazing again XD...
    </p>

</div>

<div class="user-box" id="user4">
    <h2>Michelle</h2>
    <div><img src="../public/userPicture.png" alt="user" class="user-picture" /></div>
    <p>Finding this site was easy, last year I was in Serbia and  decided to pay a visit to Dusan's company,
        they welcomed me like i was one of their own.
        Wonderful experience, hope seeing you soon.
        My best regards, Michelle.
    </p>
</div>

<div class="user-box" id="user5">
    <h2>Michael</h2>
    <div><img src="../public/userPicture.png" alt="user" class="user-picture" /></div>
    <p>My collegies and I searched everything we can find to solve our tehnology problems.
        Finding this website made our lives a lot easier.
        Now we are considered one of the top 50 company in our region.
    </p>
</div>

<div class="strelice">
    <i class="fas fa-greater-than"></i>
</div>